# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Build
/dist
/build
/.next
/.nuxt

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Uploads
uploads/

# Cache
.cache/
.next/
.nuxt/

# Coverage
coverage/

# Misc
*.local
*.swp
